h1 {
  margin: 15px;
}

.theme-card {
  width: 80%;
  height: 80%;
  background-size: 100% 100%;
}

.theme-card mat-card-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.theme-card mat-card-title {
  color: white;
  font-size: 25px;
}
