.mat-expansion-panel {
  margin-top: 20px;
  border: 1px solid #3F51B5;
}

.quiz-created-card mat-card {
  background-color: #3F51B5; /*A suppr si moche*/
}

.loader {
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:absolute;
  z-index: 5;
}

.quiz-table {
  width: 100%;
  border-collapse: collapse;
}

.quiz-table td {
  padding: 5px;
  text-align: center;
}

.quiz-table th {
  text-align: center;
  padding: 5px;
  background-color: #3F51B5;
  color: white;
  font-size: large;
}

.block {
  background-color: #f2f2f2;
  border-radius: 10px;
  height: 30px;
}



