.quiz-card {
  padding: 20px;
  border: solid 4px white;
  border-radius: 20px;
}

.quiz-card-content {
  text-align: center;
  margin-top: 30px;
}

.image_question {
  width: auto;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50px;
}

.reponse {
  font-size: 20px;
  text-align: start;
}

.reponse p {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.mini-fab {
  margin-right: 5px;
}

.success {
  background-color: #28a745;
}

.error {
  background-color: #ff0000;
}

.vrai {
  border-color: #28a745;
}

.faux {
  border-color: #ff0000;
}

.validation {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.validation button {
  align-self: flex-end;
  margin: 0 2px;
}

.loader {
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:absolute;
  z-index: 5;
}

.score {
  font-size: 70px;
  font-weight: bold;
}

/* Stepper */
mat-horizontal-stepper {
  background-color: #fafafa;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}
