<div class="grid-container">
  <h1 class="mat-h1">Quiz</h1>

  <mat-horizontal-stepper linear="true" labelPosition="bottom">

    <mat-step editable="false" *ngFor="let card of cards | async">
      <mat-grid-list [cols]="nbColonnes" rowHeight="200px">
        <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">

          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{card.title}}
              </mat-card-title>
            </mat-card-header>

            <mat-card-content class="dashboard-card-content">
              <mat-grid-list cols="5" rowHeight="100px" *ngIf="card.title != ''">

                <div *ngIf="card.title == 'nbScansChartComponent'">
                  <mat-grid-tile class="card-content-stats" colspan="2">
                    <mat-icon>compost</mat-icon>
                  </mat-grid-tile>
                </div>

              </mat-grid-list>
            </mat-card-content>

            <mat-card-footer>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </mat-card-footer>
          </mat-card>

        </mat-grid-tile>
      </mat-grid-list>
    </mat-step>

  </mat-horizontal-stepper>
</div>
