h1 {
  margin: 15px;
}

.quiz-history-card {
  width: 100%;
  height: 100%;
}

.quiz-history-card mat-card-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quiz-history-card mat-card-title {
  font-size: 25px;
}

.loader {
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:absolute;
  z-index: 5;
}
