<mat-spinner [hidden]="!loading" class="loader"></mat-spinner>

<mat-card class="quiz-history-card">
  <mat-card-content class="quiz-history-card-content">
    Partie quiz-history<br>
    {{results[0]?.Theme}}
    {{results[0]?.Quiz}}
    {{results[0]?.Score}}
    {{results[0]?.Date}}
    {{results[0]?.Note}}
    {{results[1]?.Theme}}
    {{results[1]?.Quiz}}
    {{results[1]?.Score}}
    {{results[1]?.Date}}
    {{results[1]?.Note}}
    {{results[2]?.Theme}}
    {{results[2]?.Quiz}}
    {{results[2]?.Score}}
    {{results[2]?.Date}}
    {{results[2]?.Note}}
    {{results[3]?.Theme}}
    {{results[3]?.Quiz}}
    {{results[3]?.Score}}
    {{results[3]?.Date}}
    {{results[3]?.Note}}
  </mat-card-content>
</mat-card>


