<mat-spinner [hidden]="!loading" class="loader"></mat-spinner>

<mat-card class="quiz-created-card">
  <mat-card-content class="quiz-created-card-content">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Derniers quiz joués
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card class="quiz-created-card">
    <mat-card-content class="quiz-created-card-content">
      <table class="quiz-table">
        <tr>
          <th>Thème</th>
          <th>Quiz</th>
          <th>Score</th>
          <th>Date</th>
          <th>Note</th>
        </tr>
        <tr *ngFor="let quiz of results.slice(0, 5)">
          <td>
            <div class="block">
              <h2>{{quiz?.Theme}}</h2>
            </div>
          </td>
          <td>
            <div class="block">
              <h2>{{quiz?.Quiz}}</h2>
            </div>
          </td>
          <td>
            <div class="block">
              <h2>{{quiz?.Score}}</h2>
            </div>
          </td>
          <td>
            <div class="block">
              <h2>{{quiz?.Date | date:'dd/MM/y hh:mm:ss'}}</h2>
            </div>
          </td>
          <td>
            <div class="block">
              <h2>{{quiz?.Note}}</h2>
            </div>
          </td>
        </tr>
      </table>
    </mat-card-content>
    </mat-card>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Premiers quiz joués
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card class="quiz-created-card">
      <mat-card-content class="quiz-created-card-content">
        <table class="quiz-table">
          <tr>
            <th>Thème</th>
            <th>Quiz</th>
            <th>Score</th>
            <th>Date</th>
            <th>Note</th>
          </tr>
          <tr *ngFor="let quiz of results.slice(-5)">
            <td>
              <div class="block">
                <h2>{{quiz?.Theme}}</h2>
              </div>
            </td>
            <td>
              <div class="block">
                <h2>{{quiz?.Quiz}}</h2>
              </div>
            </td>
            <td>
              <div class="block">
                <h2>{{quiz?.Score}}</h2>
              </div>
            </td>
            <td>
              <div class="block">
                <h2>{{quiz?.Date | date:'dd/MM/y hh:mm:ss'}}</h2>
              </div>
            </td>
            <td>
              <div class="block">
                <h2>{{quiz?.Note}}</h2>
              </div>
            </td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>  
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Tous les quiz joués
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="quiz-created-card">
      <mat-card-content class="quiz-created-card-content">
        <table class="quiz-table">
          <tr>
            <th>Thème</th>
            <th>Quiz</th>
            <th>Score</th>
            <th>Date</th>
            <th>Note</th>
          </tr>
          <tr *ngFor="let quiz of results">
            <td>
              <div class="block">
                <h2>{{quiz?.Theme}}</h2>
              </div>
            </td>
            <td>
              <div class="block">
                <h2>{{quiz?.Quiz}}</h2>
              </div>
            </td>
            <td>
              <div class="block">
                <h2>{{quiz?.Score}}</h2>
              </div>
            </td>
            <td>
              <div class="block">
                <h2>{{quiz?.Date | date:'dd/MM/y hh:mm:ss'}}</h2>
              </div>
            </td>
            <td>
              <div class="block">
                <h2>{{quiz?.Note}}</h2>
              </div>
            </td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
</mat-card-content>
</mat-card>


