<h1>Profil Utilisateur</h1>

<mat-grid-list [gridCols]="{xs: 1, sm: 2, md: 3, lg: 3, xl: 3}" rowHeight="250px">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="profile-tabs">
    <mat-tab label="Informations personnelles">Contenu infos perso</mat-tab>
    <mat-tab label="Historique">Contenu historique quiz faits</mat-tab>
    <mat-tab label="Quiz créés">Contenu quiz créés</mat-tab>
    <mat-tab label="Statistiques">Contenu statistiques perso</mat-tab>
  </mat-tab-group>
</mat-grid-list>
