<h1>Profil Utilisateur</h1>

<mat-grid-list [gridCols]="{xs: 1, sm: 2, md: 3, lg: 3, xl: 3}" rowHeight="250px">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="profile-tabs">
    <mat-tab label="KPI"><app-profile-user-kpi></app-profile-user-kpi></mat-tab>
    <mat-tab label="Statistiques"><app-profile-user-statistics></app-profile-user-statistics></mat-tab>
    <mat-tab label="Historique"><app-profile-user-quiz-history></app-profile-user-quiz-history></mat-tab>
    <mat-tab label="Quiz créés"><app-profile-user-quiz-created></app-profile-user-quiz-created></mat-tab>
    <mat-tab label="Informations personnelles"><app-profile-user-personal-infos></app-profile-user-personal-infos></mat-tab>
  </mat-tab-group>
</mat-grid-list>
