.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

.btn {
  width: 60%;
  background-color: rgb(63, 81, 181);
  border-radius: 10px;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  margin-top: 1rem;
  background-color: rgb(75, 98, 228);
  border-radius: 10px;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
